<div id="main" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h1>Perguntas Frequentes</h1>
    </header>
    <div>
        <dl>

          <dt>Sou estudante. Como aplico o meu desconto?</dt>
          <dd>Neste ano não é um cupom de desconto, é um tipo de ingresso específico para estudantes. Basta acessar a plataforma de inscrições através <a href="https://www.agilebrazil.com/2026/inscricao" target="_blank">deste link</a>, escolher o tipo de ingresso <strong>Estudante</strong> e realizar sua inscrição. Para se beneficiar do desconto para estudantes, você deve anexar a comprovação de matrícula no campo <strong>Comprovante de Matrícula</strong> do formulário de inscrição.</dd>

          <dt>A inscrição de estudante com desconto vale somente para alunos da graduação, ou poderá também ser utilizada por pós-graduandos?</dt>
          <dd>Você também pode se inscrever como pós-graduando. No momento do credenciamento, é importante que você tenha as comprovações solicitadas.</dd>

          <dt>Fiz minha inscrição como estudante. O que acontece se eu não apresentar a comprovação da universidade?</dt>
          <dd>A carteira de estudante ou declaração original feita pela universidade/faculdade é obrigatória e, caso não apresentado, só poderá ingressar na conferência mediante o pagamento da diferença do valor para a inscrição de última hora.</dd>

          <dt>Como funciona o desconto para pessoa com deficiência?</dt>
          <dd>Este desconto pode ser usado por pessoas com deficiência de qualquer natureza. Para usar este desconto, acesse o sistema de inscrições <a href="https://www.agilebrazil.com/2026/inscricao" target="_blank">por esse link aqui</a>, que já inclui o código de desconto. Não é necessário apresentar comprovação. A inscrição feita com este código serve como autodeclaração, e é suficiente para se ter direito ao desconto.</dd>

          <dt>Agile Brazil tem descontos em inscrições para grupos?</dt>
          <dd>Sim, para inscrições de Early Bird, preço Normal e de Última Hora. Para montar um grupo, envie um email para <a href="mailto:inscricoes@agilebrazil.com">inscricoes@agilebrazil.com</a>. Empresas também podem inscrever seus funcionários como grupo. Apenas note que descontos de grupo <strong>não se aplicam</strong> à faixa Super Early Bird, nem a pagamentos por empenho.</dd>

          <dt>A partir de quantas pessoas podemos considerar "grupo"?</dt>
          <dd>
            Grupos terão descontos relativos à quantidade de pessoas, sobre a faixa vigente, a partir de Early Bird:
            <ul>
                <li>Grupos 5+ pessoas: 10%</li>
                <li>Grupos 15+ pessoas: 15%</li>
                <li>Grupos 30+ pessoas: 20%</li>
            </ul>
            Lembrando que descontos de grupo <strong>não se aplicam</strong> à faixa Super Early Bird, nem a pagamentos por empenho.
          </dd>

          <dt>É possível combinar descontos de vários grupos?</dt>
          <dd>Não. Só é possível usar um token de grupo/desconto por inscrição.</dd>

          <dt>Vocês aceitam empenhos?</dt>
          <dd>Sim, empenhos podem ser usados como forma de pagamento. Para este tipo de inscrição, é cobrado o valor da inscrição da faixa "Última hora" da edição vigente, porque só receberemos após o evento. Para pagamento por empenho, envie um email para <a href="mailto:inscricoes@agilebrazil.com">inscricoes@agilebrazil.com</a>. Será um prazer te atender.</dd>

          <dt>Pagamento por empenho tem direito a desconto de grupo?</dt>
          <dd>Não. Pois o pagamento ocorre após a realização do evento e o desconto de grupo é um benefício apenas para inscrições antes da data da conferência.</dd>

          <dt>O que acontece se eu não pagar a inscrição no prazo de 7 dias corridos?</dt>
          <dd>Após 7 dias você receberá um email informando que a inscrição será cancelada. O cancelamento será efetivado caso o pagamento não ocorra em até 7 dias após o recebimento deste email.</dd>

          <dt>Recebi uma cobrança de pagamento por boleto, mas já paguei. O que devo fazer?</dt>
          <dd>Quando o pagamento é via boleto, há o tempo de processamento bancário. Com isso, é possível que o email tenha sido enviado entre o momento do pagamento e a notificação do nosso sistema. Se você já pagou, o status deve ser atualizado em breve.</dd>

          <dt>Se eu fizer a minha inscrição, mas não puder comparecer, eu perco meu dinheiro?</dt>
          <dd>Não, você pode transferir gratuitamente para outra pessoa ou você pode solicitar devolução, mas nesse caso ela será parcial. Em casos de devolução, o percentual de reembolso será calculado de acordo com a data do pedido do cancelamento, conforme a tabela a seguir: até um mês antes do evento: 70% do valor pago; entre 1 mês antes do evento e 72 horas antes do início: 50% de restituição; a partir de 72 horas antes do evento: não há restituição.</dd>

          <dt>Preciso da nota fiscal da inscrição para apresentar para minha empresa. É possível emití-la?</dt>
          <dd>Com certeza! Após realizar o pagamento, basta solicitar a NF pelo email <a href="mailto:inscricoes@agilebrazil.com">inscricoes@agilebrazil.com</a>.</dd>

      </dl>
    </div>
  </div>
</div>