---
title: nav.community
namespace: community
permalink: /comunidade
permalink_en: /community
---

<!-- Main -->
<div id="main" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h1>Comunidades parceiras do Agile Brazil + SGRio 2025</h1>
    </header>

    <p><strong>O Agile Brazil + SG Rio 2025 acreditam no poder transformador das comunidades.</strong> Elas são espaços que acolhem, ensinam, compartilham, inspiram, criam pertencimento e impulsionam a mudança tanto nas pessoas quanto nas organizações.</p>

    <p><strong>Esta página celebra a parceria com comunidades que, assim como nós, têm o propósito de gerar conexões reais e ampliar o impacto da agilidade, do produto e da tecnologia em todo o Brasil.</strong></p>

    <p><strong>Convidamos você a se conectar com essas comunidades, fortalecendo de maneira genuína e colaborativa os laços que nos unem e potencializando a transformação no ecossistema ágil.</strong></p>

    <div>
       <!-- 
      <div class="profiles session-speakers">

        {% for speaker in site.data.speakers %}
        <div class="profile">
          <div  style="display: none" class="image-keynotes">
            <img class="image-speaker" src="{{speaker.photo}}" alt="{% t labels.photo_of %} {{speaker.name}}" />
          </div>
          <div class="image-keynotes" style="width: 125px !important;
          height: 125px !important;
          border-radius: 50% !important;
          margin: auto;
          background-image: url({{speaker.photo}});
          background-size: cover;" alt="{% t labels.photo_of %} {{speaker.name}}">
          </div>
          <p><b>{{ speaker.name }}</b></p>
          <p>{{ speaker.minibio }}</p>
          <ul class="icons hastag">
            {% if speaker.raizes %}
              <li><span class="hastag-speakers raizes">#Raízes da Agilidade</span></li>
            {% endif %}
            {% if speaker.lideranca %}
              <li><span class="hastag-speakers lideranca">#Liderança e Agilidade Estratégica</span></li>
            {% endif %}
            {% if speaker.metricas %}
              <li><span class="hastag-speakers metrica">#Métricas e Inteligência com Dados</span></li>
            {% endif %}
            {% if speaker.cliente %}
              <li><span class="hastag-speakers cliente">#Produtos e Foco no Cliente</span></li>
            {% endif %}
            {% if speaker.futuro %}
              <li><span  class="hastag-speakers futuro">#Futuro da Agilidade</span></li>
            {% endif %}
          </ul>
          <ul class="icons">
            {% if speaker.linkedin %}
              <li><a href="{{ speaker.linkedin }}" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
            {% endif %}
            {% if speaker.twitter %}
              <li><a href="{{ speaker.twitter }}" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
            {% endif %}
            {% if speaker.site %}
              <li><a href="{{ speaker.site }}" class="icon solid fas fa-link" target="_blank"><span class="label">Website</span></a></li>
            {% endif %}
            {% if speaker.spotify %}
              <li><a href="{{ speaker.spotify }}" class="icon brands fa-spotify" target="_blank"><span class="label">Podcast</span></a></li>
            {% endif %}
          </ul>
        </div>
        {% endfor %}

      </div> -->
      <h3>Comunidades</h3>

       <div class="profiles session-speakers community">

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" title="devpira" class="image-speaker" src="/2025/assets/images/logo-devpira.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers metrica">Tecnologia</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/devpira/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/devpira/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/tech-in-rio.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers metrica">Tecnologia</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/tech-in-rio/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/techinrio/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>
   
        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/agile-rio-petro.jpg"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/agile-rio-preto-regi%C3%A3o" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/agileriopreto/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/pipoca-agil.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
            <li><a href="https://www.youtube.com/@PipocaAgil/featured" class="icon brands fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
            <li><a href="https://www.linkedin.com/company/pipoca-%C3%A1gil/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/waveagile.jpeg"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.youtube.com/@WaveAgile" class="icon brands fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
              <li><a href="https://www.instagram.com/waveagile/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <!--<div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/sampa-agil-2.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/waveagile/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/waveagile/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>-->

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/Podcast-Love-the-Problem.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.instagram.com/lovetheproblem/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
              <li><a href="https://open.spotify.com/show/06fPDUqQapNcfIE01IQHhE" class="icon brands fa-spotify" target="_blank"><span class="label">Spotify</span></a></li>
            </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/agile-jampa-2.jpeg"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/agile-jampa/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/agile.jampa/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/Agile-Campinas-Regiao.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/agilecampinas/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/agilecampinas/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/sponsor-the-Liberators-BR-10.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
            <li><span class="hastag-speakers cliente">Produtos</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/the-liberators-network-brazil-user-group" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/projetos-e-ti.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
            <li><a href=" https://www.linkedin.com/groups/3167592/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://www.instagram.com/projetoseti.br/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/agilezem-podcast.jpg"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
            <li><a href="https://www.linkedin.com/company/agilizem-podcast/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://open.spotify.com/show/5ty7TJPwW1D1LZq33U8DSV" class="icon brands fa-spotify" target="_blank"><span class="label">Spotify</span></a></li>
        </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/agile-serra-gaucha.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
            <li><a href="https://www.linkedin.com/company/agile-serra-ga-cha/posts/?feedView=all" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://www.instagram.com/agileserragaucha/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/comunidade-agil.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
            <li><a href="https://www.linkedin.com/company/comunidade-agil" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://www.instagram.com/comunidade_agil" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/agile-minas.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/agile-minas/posts/?feedView=all" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/agileminas/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/mulheres-de-produto.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers cliente">Produtos</span></li>
          </ul>
          <ul class="icons">
              <li><a href=" https://www.linkedin.com/company/mulheres-de-produto/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/jornada-colaborativa.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/jornadacolaborativa/posts/?feedView=all" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/jornadacolaborativa/?hl=pt-br" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/universo-agil.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href=" https://www.linkedin.com/company/universoagilhub/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/universoagilhub/?hl=pt-br" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/GDG-Rio.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers metrica">Tecnologia</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/gdg-rj/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/gdg.rj/?hl=pt-br" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/escola-forja.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers metrica">Tecnologia</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.youtube.com/@escolaforja/videos" class="icon brands fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
          </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/agile-riseup-group.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/showcase/podcast-agile-riseup-talks/posts/?feedView=all" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/agile.riseup/?hl=pt-br" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/PessoasDeProduto_logo_full - Pessoas De Produto.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers cliente">Produtos</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/pessoasdeproduto/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
          </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/logo_Agilidade_Preta.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/agilidade-preta/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/agilidadepreta/?hl=pt-br" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/DigitalEDU.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
            <li><span class="hastag-speakers metrica">Tecnologia</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/digitaledu_oficial" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/digitaledu_oficial/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/dockerrj.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers metrica">Tecnologia</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.meetup.com/pt-BR/docker-rio-de-janeiro/" class="icon brands fa-meetup" target="_blank"><span class="label">Meetup</span></a></li>
              <li><a href="https://www.instagram.com/devopsdaysrio" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/entre-chaves.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers metrica">Tecnologia</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/entrechaves/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/entre.chaves/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>

        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/os-agilistas.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers raizes">Agilidade</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/osagilistas/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/osagilistas/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>


        <div class="profile">
          <div  class="image-keynotes">
            <img style="max-width: 175px !important;
          max-height: 100px !important;
          border-radius: 0% !important;" class="image-speaker" src="/2025/assets/images/produto-preto.png"/>
          </div>
          <ul class="icons hastag">
            <li><span class="hastag-speakers cliente">Produtos</span></li>
          </ul>
          <ul class="icons">
              <li><a href="https://www.linkedin.com/company/produtopreto/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://www.instagram.com/produtopreto/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
          </ul>
        </div>


      </div>
      </div>
    </div>
  </div>
</div>
