.about-wrapper{max-width:800px;margin:48px auto;padding:0 16px}
.box {
    border-color: rgba(0, 0, 0, 0.15);
}
.box {
    border: solid 1px;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 1.5rem;
}