<section id="banner">
  <div class="back-banner" style="
  background-color: #00008b;
  display: block;
  position: absolute;
  width: 100%;
  padding: 0px !important;
  margin: 0px!important;
  min-width: 100%;
  opacity: 0.6;
"> </div>
<div class="inner" style="position: absolute;">
    <header>
    </header>
  </div>
</section>

<div class="ticket-wrapper" id="inscricao">
    <h3>A COMUNIDADE ÁGIL TE ESPERA EM FOZ DO IGUAÇU</h3>
    <p>Considerado o mais importante encontro da comunidade de Agilidade, Produtos e Inovação da América Latina, a <strong>Agile Brazil</strong> chega, pela primeira vez, a <strong>Foz do Iguaçu</strong>, a cidade da tríplice fronteira entre <strong> Brasil, Argentina e Paraguai</strong>, para uma edição histórica.</p>

    <p>A Agile Brazil é a conferência oficial da Agile Alliance Brazil e é construída, ano após ano, por agilistas brasileiros que volEm um cenário único no mundo, entre as majestosas Cataratas do Iguaçu e a energia de uma cidade que conecta três países, a comunidade ágil se reúne para uma experiência intensa de troca de conhecimento, com palestras inspiradoras, workshops interativos e muito networking. Prepare-se para sair de lá com a cabeça cheia de ideias e conexões que vão impulsionar sua carreira e a sua organização.</p>
    <p>Qualquer dúvida entre em contato: <a href="mailto:contato@agilebrazil.com">contato@agilebrazil.com</a> </p>


    <h3>Inscrições:</h3>
    <div id="even3-widget-ticket" height="auto"></div>
</div>
