<div class="about-wrapper">
    <h2>Atualizar dados site Agile Brazil 2026</h2>
    <ul class="actions special">
        <li>
            <div class="button primary"
                [ngStyle]="{'background-color': '#063676'}"
                (click)="atualizarProgramacao()">Atualizar Programação</div>
        </li>
         <li>
            <div class="button primary"
                [ngStyle]="{'background-color': '#063676'}"
                (click)="atualizarComunidade()">Atualizar Comunidades</div>
        </li>
    </ul>
</div>
