.submission-wrapper{max-width:1200px;margin:48px auto;padding:0 16px}
.box {
    border-color: rgba(0, 0, 0, 0.15);
}
.box {
    border: solid 1px;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.alert-info {
    background-color: #ffa5053d;
    border-color: #ffa505a8;
    color: #ffa505;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/*
style="
    background-color: #ffa50552;
    border-radius: 15px;
    padding: 5px 10px;
"
*/