<div class="submission-wrapper">
    <h3>A COMUNIDADE ÁGIL TE ESPERA EM FOZ DO IGUAÇU</h3>
    <p>Considerado o mais importante encontro da comunidade de Agilidade, Produtos e Inovação da América Latina, a
        <strong>Agile Brazil</strong> chega, pela primeira vez, a <strong>Foz do Iguaçu</strong>, a cidade da tríplice
        fronteira entre <strong> Brasil, Argentina e Paraguai</strong>, para uma edição histórica.
    </p>

    <p>Em um cenário único no mundo, entre as majestosas Cataratas do Iguaçu e a energia de uma cidade que conecta três
        países, a comunidade ágil se reúne para uma experiência intensa de troca de conhecimento, com palestras
        inspiradoras, workshops interativos e muito networking. Prepare-se para sair de lá com a cabeça cheia de ideias
        e conexões que vão impulsionar sua carreira e a sua organização.</p>
    <p>Qualquer dúvida entre em contato: <a href="mailto:contato@agilebrazil.com">contato@agilebrazil.com</a> </p>


    <h3>Submissões:</h3>
    <!-- <h4 class="alert alert-info">A submissão de palestra e workshop vai até o dia 19 de julho!</h4> -->
    <div id="even3-widget-submission" height="auto"></div>
</div>