.submission-wrapper{max-width:1200px;margin:48px auto;padding:0 16px}
.box {
    border-color: rgba(0, 0, 0, 0.15);
}
.box {
    border: solid 1px;
    border-radius: 4px;
    margin-bottom: 2rem;
    padding: 1.5rem;
}

.alert-info, .finish-info {
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    background-color: #ffa5053d;
    border-color: #ffa505a8;
    color: #ffa505;
}

.finish-info {
    background-color: rgb(255 5 5 / 24%);
    border-color: rgb(255 5 5 / 66%);
    color: #ff0505;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    color: #ffa505;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
}

/*
style="
    background-color: #ffa50552;
    border-radius: 15px;
    padding: 5px 10px;
"
*/