<div id="main" class="wrapper">
    <div class="inner">
        <header class="heading major">
            <h1>Comunidades parceiras do Agile Brazil 2026</h1>
        </header>

        <p><strong>O Agile Brazil 2026 acreditam no poder transformador das comunidades.</strong> Elas são espaços que
            acolhem, ensinam, compartilham, inspiram, criam pertencimento e impulsionam a mudança tanto nas pessoas
            quanto nas organizações.</p>

        <p><strong>Esta página celebra a parceria com comunidades que, assim como nós, têm o propósito de gerar conexões
                reais e ampliar o impacto da agilidade, do produto e da tecnologia em todo o Brasil.</strong></p>

        <p><strong>Convidamos você a se conectar com essas comunidades, fortalecendo de maneira genuína e colaborativa
                os laços que nos unem e potencializando a transformação no ecossistema ágil.</strong></p>
        <div>
            <h3>Comunidades</h3>

            <div class="profiles session-speakers community">


                <div class="profile" style="max-width: 275px !important;">
                    <div class="image-keynotes">
                        <img style="max-width: 175px !important;
                            max-height: 100px !important;
                            border-radius: 0% !important;" class="image-speaker" src="/2026/assets/images/agile-minas.png" />
                    </div>
                    <div class="text-comunidade">
                        <p>Comunidade de agilistas para agilistas, que estejam interessados em compartilhar experiências e aprender com outros membros da comunidade mineira!</p>
                    </div>
                    <ul class="icons hastag">
                        <li><span class="hastag-speakers raizes">Agilidade</span></li>
                    </ul>
                    <ul class="icons">
                        <li><a href="https://www.linkedin.com/company/agile-minas/posts/?feedView=all"
                                class="icon fa-brands fa-linkedin-in" target="_blank"><span
                                    class="label">LinkedIn</span></a></li>
                        <li><a href="https://www.instagram.com/agileminas/" class="icon fa-brands fa-instagram"
                                target="_blank"><span class="label">Instagram</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>