.profiles .profile {
    text-align: center;
    margin: 0 auto !important;
}

.community .image-keynotes {
    height: 100px !important;
    padding: 0 0 0 2rem;
    align-content: center;
}

ul.icons li {
    display: inline-block;
    padding: 5px;
    text-align: center;
}

ul.icons li .icon {
    -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px #010e9b;
    color: #010e9b;
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    height: 2.75rem;
    line-height: 2.75rem;
    margin: 0 auto 2rem auto;
    width: 2.75rem;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon > .label {
    display: none;
}

.hastag-speakers.agilidade {
    background-color: #147332 !important;
}

.hastag-speakers.tecnologia {
    background-color: #004AAD !important;
}

.hastag-speakers.produto {
    background-color: #2D87FF !important;
}

.hastag-speakers.desenvolvimento {
    background-color: #FFC107 !important;
}
.hastag-speakers.design {
    background-color: #9C27B0 !important;
}
.hastag-speakers.lideranca {
    background-color: #F44336 !important;
}
.hastag-speakers.inteligencia-artificial {
    background-color: #00BCD4 !important;
}
.hastag-speakers.projetos { 
    background-color: #FF9800 !important;
}
.hastag-speakers.estrategia { 
    background-color: #9E9E9E !important;
}
.hastag-speakers.governanca { 
    background-color: #607D8B !important;
}
.hastag-speakers.transformacao-digital { 
    background-color: #4CAF50 !important;
}
.hastag-speakers.gestao { 
    background-color: #FF5722 !important;
}

.hastag-speakers.inovacao { 
    background-color: #FF9800 !important;
}
.hastag-speakers.carreira-mulheres { 
    background-color: #E91E63 !important;
}
.hastag-speakers.transicao-carreira { 
    background-color: #9C27B0 !important;
}
.hastag-speakers {
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    margin: auto;
}

ul.icons.hastag {
    margin: 10px !important;
    display: block;
    justify-content: center;
}

.text-comunidade-flow {
    display: none;
}

.profiles {
    display: block;
    text-align: center;
}

.profile {
    position: relative;
    display: inline-grid;
}

.image-keynotes:hover .text-comunidade-flow {
    display: block;
    position: absolute;
    background-color: #f2a65d;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    top: 120px;
    left: 0px;
    min-width: 220px;
}

.image-keynotes:hover {
    cursor: pointer;
}

.text-comunidade-flow p {
    margin: 5px !important;
}