<div id="main" class="wrapper">
    <div class="inner">
        <header class="heading major">
            <h1>Comunidades parceiras do Agile Brazil 2026</h1>
        </header>

        <p><strong>O Agile Brazil 2026 acreditam no poder transformador das comunidades.</strong> Elas são espaços que
            acolhem, ensinam, compartilham, inspiram, criam pertencimento e impulsionam a mudança tanto nas pessoas
            quanto nas organizações.</p>

        <p><strong>Esta página celebra a parceria com comunidades que, assim como nós, têm o propósito de gerar conexões
                reais e ampliar o impacto da agilidade, do produto e da tecnologia em todo o Brasil.</strong></p>

        <p><strong>Convidamos você a se conectar com essas comunidades, fortalecendo de maneira genuína e colaborativa
                os laços que nos unem e potencializando a transformação no ecossistema ágil.</strong></p>
        <div>
            <h3>Comunidades</h3>

            <div class="profiles session-speakers community">

                <div class="profile" style="max-width: 275px !important;" *ngFor="let comunidade of comunidades">
                    <div class="image-keynotes">
                        <img style="max-width: 175px !important;
                            max-height: 100px !important;
                            border-radius: 0% !important;" class="image-speaker" src="{{comunidade.imageUrl}}" />
                        <div class="text-comunidade-flow" [innerHTML]="comunidade.description"></div>
                    </div>
                    <ul class="icons hastag">
                        <li *ngFor="let tag of comunidade.tags">
                            <span *ngIf="tag == 'Agilidade'" class="hastag-speakers agilidade">Agilidade</span>
                            <span *ngIf="tag == 'Tecnologia'" class="hastag-speakers tecnologia">Tecnologia</span>
                            <span *ngIf="tag == 'Produto'" class="hastag-speakers produto">Produto</span>
                        </li>
                    </ul>
                    <ul class="icons">
                        <li *ngIf="comunidade.linkedin" ><a href="{{comunidade.linkedin}}"
                                class="icon fa-brands fa-linkedin-in" target="_blank"><span
                                    class="label">LinkedIn</span></a></li>
                        <li  *ngIf="comunidade.instagram" ><a href="{{comunidade.instagram}}" class="icon fa-brands fa-instagram"
                                target="_blank"><span class="label">Instagram</span></a></li>
                          <li  *ngIf="comunidade.youtube"><a href="{{comunidade.youtube}}" class="icon fa-brands fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>