<div id="main" class="wrapper">
  <div class="inner">
    <header class="heading major">
      <h1>Patrocine a Agile Brazil 2026</h1>
    </header>

    <p>A Agile Brazil é a mais tradicional conferência sobre métodos ágeis. Historicamente, o evento vem reunindo perto de oitocentos participantes do cenário brasileiro de tecnologia e diversos palestrantes de renome nacional e internacional. O evento não tem fins lucrativos e é organizado por especialistas no assunto de diversas partes do Brasil, que compartilham o objetivo de incentivar e disseminar a cultura Ágil por todo o país.</p>

<p>A Agile Brazil é a conferência oficial da Agile Alliance Brazil e é construída, ano após ano, por agilistas brasileiros que voluntariam seu tempo e trabalho para montar um evento de alto nível, diverso e representativo da agilidade nacional.</p>

<p>Métodos Ágeis vêm sendo adotados por empresas dos mais diferentes tamanhos e segmentos. Agências e órgãos de Governo também têm dedicado esforços para adotar e cultivar os princípios e valores que fundamentam a cultura Ágil.</p>

<p>Cerca de 90 palestrantes por ano também trazem valor ao evento, compartilhando suas experiências, conhecimento e percepções. A experiência da conferência não poderia estar completa sem as empresas patrocinadoras, que historicamente trazem oportunidades para participantes, enquanto levam novos leads de contratação, prospecções de novos negócios e um fortalecimento da associação entre sua marca e a agilidade.</p>

<div class="box">
  <h3>Agile Alliance Brazil</h3>

  <p>Agile Brazil é uma conferência criada pela comunidade Ágil brasileira e, desde a edição de 2014, apoiada pela Agile Alliance Brazil. Fundada em 2013, a Agile Alliance Brazil é uma instituição sem fins lucrativos e comerciais, que nasceu pela necessidade de aperfeiçoarmos a organização da conferência e também do anseio de apoiar, de maneira efetiva, o crescimento e aprofundamento da comunidade ágil brasileira.</p>
</div>

    <h2>Oportunidades de patrocínio</h2>

    <h3>Alcance</h3>
    <p>Patrocinadores ocupam um local de destaque não apenas durante o período de realização da conferência, mas durante toda a campanha da Agile Brazil 2026, em ações de divulgação pelas redes sociais e outros meios com alcance nacional e internacional.</p>

    <h3>Talentos</h3>
    <p>Profissionais de mercado, potenciais clientes e parceiros de negócio relacionam a imagem do patrocinador aos tema da agilidade, colaborando para um branding efetivo.</p>

    <h3>Networking</h3>
    <p>A Agile Brazil 2026 é uma oportunidade de networking entre empresas e profissionais em busca de melhoria e novos conhecimentos. Os melhores talentos do mercado também estarão presentes para ensinar, aprender e buscar oportunidades. Historicamente, a Agile Brazil recebe um público misto com estudantes, desenvolvedores, analistas, gerentes, coaches e pessoas C-level, entre outras.</p>

    <h3>Flexibilidade</h3>
    <p>Para que as empresas possam se unir à Agile Brazil 2026 como patrocinadoras, existem diferentes opções de benefícios disponíveis para aquisição, e cada patrocinador monta seu próprio pacote como desejar. Analise o que mais se enquadra ao seu interesse e fale conosco para se juntar ao evento que reúne a comunidade de Métodos Ágeis do Brasil!</p>

    <h3>Diversidade</h3>
    <p>Posicione sua marca junto à Agile Brazil, que tem foco em Diversidade, Equidade e Inclusão para participantes e palestrantes, tornando o evento mais acessível para todas as pessoas.</p>

    <h2>Valores e Disponibilidade</h2>

    <p>Na Agile Brazil nós proporcionamos aos patrocinadores a flexibilidade para personalizar 100% da sua cota de patrocínio. Assim, cada empresa pode escolher aquilo que mais se encaixa no seu orçamento e objetivos.</p>

    <p>Saiba mais detalhes entrando em contato conosco através de <a href="mailto:patrocinios@agilebrazil.com">patrocinios@agilebrazil.com</a></p>
  </div>
</div>